.body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.text {
    color: blue;
    text-align: center;
}

.line {
    background-color: rgb(54, 54, 54);
    width: 1000px;
    padding: 1px;
    margin-top: -10px;
    margin: 10px auto;
}

.container{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.box1 {
    width: 300px;
    background-color: white;
    margin: 5px;
    border-radius: 10px;
    border: 2px solid black;
}

.item1 {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 180px;
    object-fit: cover;

}

.content {
    color: blue;
    margin-top: -10px;
    margin: 0 auto;
    margin-left: 10px;

}

h1 {
    font-size: 25px;
    font-style: bold;
    margin-left: 10px;

}

.box2 {
    width: 300px;
    margin-top: 20px;
    margin-bottom: 15px;
    display: flex;
}

.content2{
    margin-left: 10px;
}

.img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-left: 10px;
    border-radius: 50%;
}

.data{
    margin-top: -5px;
}

.data h1 {
    font-size: 18px;
}

p {
    font-size: 15px;
    margin: 0 auto;
    margin-left: 10px;
    margin-top: -15px;
}